*{
    text-decoration: none;
}
body{
    background: black;
}
nav{
    border: 1px solid white;
    text-align: center;
    background: brown;
    color: white;
}
nav a{
    color: white;
    font-size: 15px;
}
h1{
    text-align: center;
    color: white;
}
h2{
    color: white;
    text-align: center;
    border: 1px solid white;
}
p{
    color: white;
}
.enlaces-externos{
    display: block;
    text-align: center;
}
.enlaces-externos:hover{
    color: white;
}
.imagenes{
    padding-top: 100px;
    padding-bottom: 100px;
    
}