
body{
    background: black;
}
nav{
    border: 1px solid white;
    background: brown;
    color: white;
    display: block;
}
nav a{
    color: white;
    font-size: 15px;

}
h1{
    text-align: center;
    color: white;
}
h2{
    color: white;
    text-align: center;
    border: 1px solid white;
}
p{
    color: white;
}
.enlaces-externos{
    display: block;
    text-align: center;
}
.enlaces-externos:hover{
    color: white;
}
.imagenes{
    padding-top: 100px;
    padding-bottom: 100px;
    
}

/* Selectores de atributos, por medio de este podemos seleccionar los atributos de la clase, como con las clases y href */
/* Selecciona todos los enlaces que tengan href, en este caso a todos menos el ultimo que no posee un href */
a[href]{
    font-size: 20px;
    color: lime;
    text-decoration: none;

}

a[href= "https://google.com/"]{
    color: yellow;
}

a[href]:hover{
  color: black;
}
/* Sirve para seleccionar al primer elemento del atributo */
a[href^="www"]{
    color: purple;
}
/* sirve para seleccionar al ultimo elemento del atributo  */
a[href$="org"]{
    color: blue;
}
/* Sirve para seleccionar cualquier parte del elemento que nosotros escojamos */
a[href*="gm"]{
    color: red;
}

.sin-href{
    color: white;
}