html{
    box-sizing: border-box;
}
*,*:before, *:after{
    box-sizing: inherit;
}
h1{
    font-size: 30px;
    color: #000
}

/* Globales */
a {
    text-decoration: none;
    color: #000;
}

/* Se recomienda utilizar los id cuando vamos a utilizar javascript, normalmente solo deberiamos manejar class para multiples etiquetas*/


/* Header y navegacion */

.nombre-sitio{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.nombre-sitio span{
    color: #037bc0;
}

.sobre-nosotros{
    background-color: red;
    width: 200px;
    padding: 20px;
    margin-top: 30px;
}

.contenedor-navegacion{
    border-top: 1px solid #e1e1e1;
    padding: 20px 0 20px 0px;
}

.nav-principal{
    display: flex;
    flex-direction: row;
}
.hero {
    background-image: url('../Introduccion de html/img/principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto 0 auto;
}





