html{
    box-sizing: border-box;
}
*,*:before, *:after{
    box-sizing: inherit;
}
h1{
    font-size: 30px;
    color: #000
}

h1 span{
    color: #037bc0;
}



/** Existen diferentes estilos para escribir css: Modulos, BEM, SMACSS**/
.enlace {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #037bc0
}


/* Se recomienda utilizar los id cuando vamos a utilizar javascript, normalmente solo deberiamos manejar class para multiples etiquetas*/


/* Box-model */

.sobre-nosotros{
    background-color: red;
    width: 200px;
    padding: 20px;
    margin-top: 30px;
}

.nombre-sitio{
    margin-top: 50px;
    margin-bottom: 50px;
}